/ProgQuerylis$Columna.class
/ProgQuerylis$FieldCatalogo.class
/ProgQuerylis$FormVduplic$CtrlVvcodigo$Location.class
/ProgQuerylis$FormVduplic$CtrlVvcodigo$Look.class
/ProgQuerylis$FormVduplic$CtrlVvcodigo.class
/ProgQuerylis$FormVduplic$CtrlVvdesc$Location.class
/ProgQuerylis$FormVduplic$CtrlVvdesc$Look.class
/ProgQuerylis$FormVduplic$CtrlVvdesc.class
/ProgQuerylis$FormVduplic$CtrlVvqefdescripcio$Location.class
/ProgQuerylis$FormVduplic$CtrlVvqefdescripcio$Look.class
/ProgQuerylis$FormVduplic$CtrlVvqefdescripcio.class
/ProgQuerylis$FormVduplic$CtrlVvqeffrase$Location.class
/ProgQuerylis$FormVduplic$CtrlVvqeffrase.class
/ProgQuerylis$FormVduplic$FSetF1.class
/ProgQuerylis$FormVduplic$FSetF2.class
/ProgQuerylis$FormVduplic$LinkAcok.class
/ProgQuerylis$FormVduplic$Location.class
/ProgQuerylis$FormVduplic.class
/ProgQuerylis$FormVparam$LinkAcimprimir.class
/ProgQuerylis$FormVparam$Location.class
/ProgQuerylis$FormVparam.class
/ProgQuerylis$FormVseleccion$CtrlQefdescripcion.class
/ProgQuerylis$FormVseleccion$CtrlQeffrase.class
/ProgQuerylis$FormVseleccion$CtrlQefplantilla.class
/ProgQuerylis$FormVseleccion$LinkAccombinar.class
/ProgQuerylis$FormVseleccion$LinkAcdup.class
/ProgQuerylis$FormVseleccion$LinkAcexportar.class
/ProgQuerylis$FormVseleccion$LinkAcimportar.class
/ProgQuerylis$FormVseleccion$LinkAclistar.class
/ProgQuerylis$FormVseleccion$LinkAclistarjr.class
/ProgQuerylis$FormVseleccion$LinkAclistarnew.class
/ProgQuerylis$FormVseleccion$Location.class
/ProgQuerylis$FormVseleccion.class
/ProgQuerylis$Frase.class
/ProgQuerylis$Inflistado.class
/ProgQuerylis$Location.class
/ProgQuerylis$Seleccio.class
/ProgQuerylis$Splantillas$Plantillas.class
/ProgQuerylis$Splantillas.class
/ProgQuerylis$Sprueba$Quefrase.class
/ProgQuerylis$Sprueba.class
/ProgQuerylis$Squecolumn$Quecolumn.class
/ProgQuerylis$Squecolumn.class
/ProgQuerylis$Squery$Quefrase.class
/ProgQuerylis$Squery.class
/ProgQuerylis$Squetabla$Quetabla.class
/ProgQuerylis$Squetabla.class
/ProgQuerylis$Squevariables$Quevariables.class
/ProgQuerylis$Squevariables.class
/ProgQuerylis$TablaCatalogo.class
/ProgQuerylis$Taula.class
/ProgQuerylis$Variable.class
/ProgQuerylis.class
